{% extends 'pages/base.html' %}

{% block title %} Contact Us {% endblock %}
{% block header_title %} Contact Information {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 ms-auto">
            <p class="lead">Email: SalarconG@noodle.com</p>
            <p class="lead">Phone: +57 387 752 9648</p>
        </div>
        <div class="col-lg-4 me-auto">
            <p class="lead">Address: Carrera 69 Sur #4-20</p>
        </div>
    </div>
</div>
{% endblock %}